@import "./../../scss/variables";
@import "./../../scss/typography";

.nav-container {
  padding: 0 $padding-medium;
  background: $gradientPurple;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav-top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date-time {
  @include fontSmall;
  display: flex;
  align-items: center;
  margin: 1rem 0;
  font-weight: 700;
  gap: 0.5rem;
  background-color: $lightGray;
  padding: 0.5rem;
  border-radius: $borderRadius-medium;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.calendar-icon {
  margin-bottom: 0.3rem;
}

.separator-line {
  border-left: 1px solid rgba(40, 41, 40, 0.651);
  height: 1.8rem;
  margin: 0 0.5rem;
}

.logout-btn {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: $lightGray;
  border-radius: $borderRadius-large;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.heading-greeting {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: $textColor;
  margin: $margin-medium 0;
  padding-bottom: $padding-medium;
}

.view-btn-container {
  background-color: $lightGray;
  width: 80vw;
  color: $textColor;
  padding: $padding-medium;
  border-radius: $borderRadius-Xlarge;
  display: flex;
  justify-content: space-between;
  margin: auto;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.view-btn-title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.active-text {
  font-weight: 800;
}

.view-btn {
  @include fontSmall;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  margin: 0 1rem 0 1rem;
}

.view-btn img {
  display: block;
  width: 3.6rem;
  margin: auto;
  border: none;
  border-radius: $borderRadius-Xlarge;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 0.5rem;
  margin-bottom: $padding-small;
}

.task-btn img {
  background-image: $gradientPurple-dark;
}

.categories-btn img {
  background-color: $blue;
}

.completed-btn img {
  background-image: $gradientGreen;
}
