@import "./../../scss/variables";
@import "./../../scss/typography";

.task-card_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.task-card {
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
  border-radius: 10px;
  width: 90vw;

  &__first-row {
    @include fontMedium;
    display: flex;
    justify-content: space-between;
    color: $textColor;

    .buttons {
      gap: 1.5rem;
    }

    .btn-edit {
      border-radius: 50%;
      height: 2.5rem;
      padding: 0.5rem;
      border: none;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      background-image: $gradientOrange;
      cursor: pointer;
    }

    .btn-done {
      border-radius: 50%;
      height: 2.5rem;
      padding: 0.5rem;
      border: none;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      // background-image: linear-gradient(
      //   to right,
      //   #53873b 0%,
      //   #789f48 51%,
      //   #76c154 100%
      // );
      background-color: $green;
      cursor: pointer;
    }
  }

  &__second-row {
    @include fontSmall;
    color: $textColor;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;

    img {
      margin-right: 0.5rem;
    }

    span {
      margin-left: auto;
      display: flex;
      align-items: center;
    }
  }
}

.task-card-past-due {
  // background: linear-gradient(180deg,rgb(244, 127, 100) 40%,rgb(248, 94, 52) 100%);
  // background-image: linear-gradient(
  //   to right,
  //   #e53935 0%,
  //   #e35d5b 51%,
  //   #e53935 100%
  // );
  background-color: $red;;

}


.task-card-completed {
  margin: auto;
  margin-bottom: $margin-medium;
  // background-image: linear-gradient(
  //   to right,
  //   #56ab2f 0%,
  //   #a8e063 51%,
  //   #82c066 100%
  // );
  // background-image: linear-gradient(
  //   to right,
  //   #25cb80 0%,
  //   #09e180 51%,
  //   #1ac477 100%
  // );
  background-color: $green;
}


