@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap");
@import "./variables";

$baseFontSize: 16px;

@mixin fontLarge {
  font-family: "Poppins";
  font-size: $baseFontSize * 2;
  line-height: 140%;
  font-weight: 500;
  color: $textColor;
}

@mixin fontMedium {
  font-family: "Poppins";
  font-size: $baseFontSize * 1.25;
  line-height: 140%;
  font-weight: 400;
  color: $textColor;
}

@mixin fontSmall {
  font-family: "Poppins";
  font-size: $baseFontSize;
  line-height: 140%;
  font-weight: 400;
  color: $textColor;
}
